In [1]:
import pandas as pd
import numpy as np
import df_build as build

In [2]:
team = 'Man City'
opponent = 'Man United'

In [3]:
season_20_19_team_options = ['Arsenal', 'Aston Villa', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Southhampton', 'Tottenham', 'West Brom', 'West Ham', 'Wolves']

In [4]:
game_stats = build.csv_to_df()

In [5]:
team_focus = build.df_team_focus(game_stats, team)

## Modeling

In [6]:
from imblearn.ensemble import BalancedRandomForestClassifier

ModuleNotFoundError: No module named 'imblearn'

In [13]:
model_data = team_focus.copy()

In [14]:
model_data.head()

,home_advan,team_shots,team_target_shots,team_goals,team_fouls,team_corners,team_yellows,team_reds,opponent,oppon_shots,oppon_target_shots,oppon_goals,oppon_fouls,oppon_corners,oppon_yellows,oppon_reds,season_num
Date,,,,,,,,,,,,,,,,,
2019-12-05,False,20,9,4,8,6,0,0,Brighton,6,2,1,12,2,0,0,10
2019-10-02,True,15,9,6,9,2,1,0,Chelsea,12,4,0,13,2,2,0,10
2019-09-03,True,19,9,3,11,9,1,0,Watford,2,1,1,7,1,1,0,10
2019-06-05,True,19,5,1,12,11,3,0,Leicester,7,2,0,5,0,2,0,10
2019-06-02,False,15,4,2,6,6,1,0,Everton,4,1,0,12,5,1,0,10

In [16]:
game_to_predict = '2019-10-02'

In [17]:
model_data = team_focus[team_focus.index <='2019-10-02']

In [20]:
model_data.head()

,home_advan,team_shots,team_target_shots,team_goals,team_fouls,team_corners,team_yellows,opponent,oppon_shots,oppon_target_shots,oppon_goals,oppon_fouls,oppon_corners,oppon_yellows,oppon_reds,season_num
Date,,,,,,,,,,,,,,,,
2019-10-02,True,15,9,6,9,2,1,Chelsea,12,4,0,13,2,2,0,10
2019-09-03,True,19,9,3,11,9,1,Watford,2,1,1,7,1,1,0,10
2019-06-05,True,19,5,1,12,11,3,Leicester,7,2,0,5,0,2,0,10
2019-06-02,False,15,4,2,6,6,1,Everton,4,1,0,12,5,1,0,10
2019-04-28,False,25,7,1,7,6,1,Burnley,2,0,0,5,0,1,0,10

In [19]:
y = model_data.pop('team_reds')

In [21]:
y_test = y[:100]
y_train = y[100:]

In [23]:
X = model_data.drop(['opponent', 'season_num'], axis=1)
X.head()

,home_advan,team_shots,team_target_shots,team_goals,team_fouls,team_corners,team_yellows,oppon_shots,oppon_target_shots,oppon_goals,oppon_fouls,oppon_corners,oppon_yellows,oppon_reds
Date,,,,,,,,,,,,,,
2019-10-02,True,15,9,6,9,2,1,12,4,0,13,2,2,0
2019-09-03,True,19,9,3,11,9,1,2,1,1,7,1,1,0
2019-06-05,True,19,5,1,12,11,3,7,2,0,5,0,2,0
2019-06-02,False,15,4,2,6,6,1,4,1,0,12,5,1,0
2019-04-28,False,25,7,1,7,6,1,2,0,0,5,0,1,0