In [1]:
import pandas as pd
import numpy as np
import df_build

In [2]:
team = 'Man City'
opponent = 'Man United'

In [3]:
season_20_19_team_options = ['Arsenal', 'Aston Villa', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Southhampton', 'Tottenham', 'West Brom', 'West Ham', 'Wolves']

In [4]:
game_stats = df_build.csv_to_df()

In [5]:
team_focus = df_build.df_team_focus(game_stats, team)

In [6]:
team_focus.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 380 entries, 2019-12-05 to 2009-08-15
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   home_advan          380 non-null    bool
 1   team_shots          380 non-null    int64
 2   team_target_shots   380 non-null    int64
 3   team_goals          380 non-null    int64
 4   team_fouls          380 non-null    int64
 5   team_corners        380 non-null    int64
 6   team_yellows        380 non-null    int64
 7   team_reds           380 non-null    int64
 8   opponent            380 non-null    object
 9   oppon_shots         380 non-null    int64
 10  oppon_target_shots  380 non-null    int64
 11  oppon_goals         380 non-null    int64
 12  oppon_fouls         380 non-null    int64
 13  oppon_corners       380 non-null    int64
 14  oppon_yellows       380 non-null    int64
 15  oppon_reds          380 non-null    int64
 16  season_num          380 non-null    int64
dtypes: bool(1), int64(15), object(1)
memory usage: 50.8+ KB

In [7]:
team_focus

,home_advan,team_shots,team_target_shots,team_goals,team_fouls,team_corners,team_yellows,team_reds,opponent,oppon_shots,oppon_target_shots,oppon_goals,oppon_fouls,oppon_corners,oppon_yellows,oppon_reds,season_num
Date,,,,,,,,,,,,,,,,,
2019-12-05,False,20,9,4,8,6,0,0,Brighton,6,2,1,12,2,0,0,10
2019-10-02,True,15,9,6,9,2,1,0,Chelsea,12,4,0,13,2,2,0,10
2019-09-03,True,19,9,3,11,9,1,0,Watford,2,1,1,7,1,1,0,10
2019-06-05,True,19,5,1,12,11,3,0,Leicester,7,2,0,5,0,2,0,10
2019-06-02,False,15,4,2,6,6,1,0,Everton,4,1,0,12,5,1,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-09-20,False,10,6,3,14,1,2,0,Man United,21,11,4,15,11,2,0,1
2009-09-12,True,10,6,4,13,3,3,0,Arsenal,19,9,2,12,12,2,0,1
2009-08-30,False,12,8,1,7,11,1,0,Portsmouth,11,6,0,12,3,2,0,1
2009-08-22,True,16,11,1,7,5,0,0,Wolves,10,2,0,11,6,1,0,1
2009-08-15,False,8,5,2,9,4,1,0,Blackburn,17,9,0,12,5,2,0,1