In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import home_v_away as script

In [4]:
df, team_options = script.csv_to_df()

Provided 23 Features

In [32]:
df.head()

,HomeTeam,AwayTeam,Final_Goals_H,Final_Goals_A,Final_Result,Shots_H,Shots_A,Target_Shots_H,Target_Shots_A,Fouls_H,Fouls_A,Corners_H,Corners_A,Yellow_H,Yellow_A,Red_H,Red_A,Season
Date,,,,,,,,,,,,,,,,,,
2018-10-08,Man United,Leicester,2,1,H,8,13,6,4,11,8,2,5,2,1,0,0,10
2018-11-08,Bournemouth,Cardiff,2,0,H,12,10,4,1,11,9,7,4,1,1,0,0,10
2018-11-08,Fulham,Crystal Palace,0,2,A,15,10,6,9,9,11,5,5,1,2,0,0,10
2018-11-08,Huddersfield,Chelsea,0,3,A,6,13,1,4,9,8,2,5,2,1,0,0,10
2018-11-08,Newcastle,Tottenham,1,2,A,15,15,2,5,11,12,3,5,2,2,0,0,10

In [ ]:
df.head

In [5]:
team_options

array(['Man United', 'Bournemouth', 'Fulham', 'Huddersfield', 'Newcastle',
       'Watford', 'Wolves', 'Arsenal', 'Liverpool', 'Southampton',
       'Cardiff', 'Chelsea', 'Everton', 'Leicester', 'Tottenham',
       'West Ham', 'Brighton', 'Burnley', 'Man City', 'Crystal Palace',
       'West Brom', 'Stoke', 'Swansea', 'Hull', 'Middlesbrough',
       'Sunderland', 'Norwich', 'Aston Villa', 'QPR', 'Reading', 'Wigan',
       'Blackburn', 'Bolton', 'Birmingham', 'Blackpool', 'Portsmouth'],
      dtype=object)

In [6]:
team = 'Man City'

In [8]:
home, away = script.team_record_df_build(df, team)

Man City W/L/D Distribution Season '09-'17

    Team Win Percentage: 60.20%
    Team Loss Percentage: 18.42%
    Team Draw Percentage: 21.38%

In [9]:
full_record = script.dummyize_match_results(home, away)

Restricting to 17 Features
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 380 entries, 2019-12-05 to 2009-08-15
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   home_field_advantage     380 non-null    bool
 1   home_goals               380 non-null    int64
 2   away_goals               380 non-null    int64
 3   home_on_target_accuracy  380 non-null    float64
 4   away_on_target_accuracy  380 non-null    float64
 5   home_fouls               380 non-null    int64
 6   away_fouls               380 non-null    int64
 7   home_reds                380 non-null    int64
 8   away_reds                380 non-null    int64
 9   home_yellows             380 non-null    int64
 10  away_yellows             380 non-null    int64
 11  home_win                 380 non-null    float64
 12  away_win                 380 non-null    float64
 13  draw                     380 non-null    float64
 14  home_corners             380 non-null    int64
 15  away_corners             380 non-null    int64
 16  season_num               380 non-null    int64
dtypes: bool(1), float64(5), int64(11)
memory usage: 50.8 KB

In [10]:
full_record.head()

,home_field_advantage,home_goals,away_goals,home_on_target_accuracy,away_on_target_accuracy,home_fouls,away_fouls,home_reds,away_reds,home_yellows,away_yellows,home_win,away_win,draw,home_corners,away_corners,season_num
Date,,,,,,,,,,,,,,,,,
2019-12-05,False,0,4,0.000000,0.450000,0,8,0,0,0,0,0.0,1.0,0.0,0,6,10
2019-10-02,True,6,0,0.600000,0.000000,9,0,0,0,1,0,1.0,0.0,0.0,2,0,10
2019-09-03,True,3,0,0.473684,0.000000,11,0,0,0,1,0,1.0,0.0,0.0,9,0,10
2019-06-05,True,1,0,0.263158,0.000000,12,0,0,0,3,0,1.0,0.0,0.0,11,0,10
2019-06-02,False,0,2,0.000000,0.266667,0,6,0,0,0,1,0.0,1.0,0.0,0,6,10

In [12]:
train, test = full_record[full_record.season_num <=8], full_record[full_record.season_num > 8]

In [26]:
test.home_reds.value_counts()

0    75
1     1
Name: home_reds, dtype: int64

In [31]:
_0, _1, _2 = train.home_reds.value_counts()
total_games = len(train)
print('''
Total Reds at home (train):
    Zero: {0}
    At least one: {1}
    More than one: {2}
Distribution:
    Zero: {3:0.2f}%
    At least one: {4:0.2f}%
    More than one: {5:0.2f}%
'''.format(_0, _1, _2, (_0/total_games)*100, (_1/total_games)*100, (_2/total_games)*100))

Total Reds at home (train):
    Zero: 295
    At least one: 8
    More than one: 1
Distribution:
    Zero: 97.04%
    At least one: 2.63%
    More than one: 0.33%

In [23]:
_0, _1, _2

(295, 8, 1)

In [15]:
rolling_home_reds = train.home_reds[train.home_field_advantage].rolling(10).sum()

In [16]:
rolling_home_reds

Date
2017-08-04    NaN
2017-08-03    NaN
2017-06-05    NaN
2017-05-16    NaN
2017-05-13    NaN
             ...
2009-11-07    0.0
2009-10-25    0.0
2009-09-28    0.0
2009-09-12    0.0
2009-08-22    0.0
Name: home_reds, Length: 152, dtype: float64

In [17]:
fig, ax = subplots()

ax.plot(rolling_home_reds, rolling_home_reds.index)

NameError: name 'pd' is not defined